body {
  background-color: #818274;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

.game-details {
  background-color: #10454F;
  color: white;
  display: flex;
  font-weight: 600;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  height: 10vh;
  width: 80vh;
}

.play-board {
  background-color: #506266;
  display: grid;
  grid-template-rows: repeat(30, 1fr);
  grid-template-columns: repeat(30, 1fr);
  height: 80vh;
  width: 80vh;
}

.play-board__snake {
  background-color: #A3AB78;
}

.play-board__food {
  background-color: #BDE038;
}

.game-controls {
  display: flex;
  height: 10vh;
  width: 80vh;
  justify-content: space-around;
}

.game-controls button {
  width: calc(100%/4);
  background-color: #10454F;
  border: 1px solid #506266;
  cursor: pointer;
}

.game-controls img {
  height: 40px;
  margin: auto;
}