body {
  align-items: center;
  background-color: #818274;
  display: flex;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  justify-content: center;
  min-height: 100vh;
}

#app {
  display: flex;
  flex-direction: column;
  height: 90vmin;
  justify-content: center;
  overflow: hidden;
  width: 80vmin;
}

.game-details {
  background-color: #10454F;
  color: white;
  display: flex;
  font-weight: 600;
  font-size: 1.2rem;
  justify-content: space-between;
  padding: 1.5rem;
}

.play-board {
  background-color: #506266;
  display: grid;
  grid-template-rows: repeat(30, 1fr);
  grid-template-columns: repeat(30, 1fr);
  height: 100%;
  width: 100%;
}

.play-board__snake {
  background-color: #A3AB78;
}

.play-board__food {
  background-color: #BDE038;
}

.game-controls {
  display: none;
  justify-content: space-around;
}

.game-controls button {
  background-color: #10454F;
  border: 1px solid #506266;
  cursor: pointer;
  padding: 1.5rem;
  width: calc(100%/4);
}

.game-controls img {
  height: 2rem;
  margin: auto;
}

@media screen and (max-width: 1024px) {
  #app {
    height: 100vmin;
    width: 90vmin;
  }

  .game-details {
    font-size: 1rem;
    padding: 1.3rem;
  }

  .game-controls {
    display: flex;
  }

  .game-controls button {
    padding: 1.3rem;
  }

  .game-controls img {
    height: 1.8rem;
  }
}

@media screen and (max-width: 640px) {
  #app {
    height: 110vmin;
    width: 95vmin;
  }

  .game-details {
    font-size: 0.8rem;
    padding: 1rem;
  }

  .game-controls {
    display: flex;
  }

  .game-controls button {
    padding: 1rem;
  }

  .game-controls img {
    height: 1.3rem;
  }
}